version: 2
updates:
# Create PRs for dependency updates
- package-ecosystem: gomod
  directory: /
  schedule:
    interval: daily
  open-pull-requests-limit: 5
  allow:
  - dependency-name: "github.com/gardener/gardener"
  - dependency-name: "github.com/go-jose/go-jose/v4"
  labels:
  - kind/enhancement
# Create PRs for golang version updates
- package-ecosystem: docker
  directory: /
  schedule:
    interval: daily
  labels:
  - kind/enhancement
